.app {
    width: 40%;
    margin: 2em auto;
    background-color: #394049;
    border-radius: 5px;
    color: #fff;
}

.todoHeader {
    padding: .5em;
    border-bottom: 1px solid #2c3035;
    text-align: center;
}

.todoHeader h1 {
    margin: 0;
}

.todoForm {
    padding: 1em;
    margin: 0 2em;
    border-bottom: 1px solid #2c3035;
}

.formControl h2,
.todoList h2 {
    text-align: center;
    margin-top: 0;
}

.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formControl label {
    font-weight: bold;
    font-size: .7em;
    margin-bottom: .4em;
}

.formControl input {
    border: 1px solid #222;
    border-radius: 2px;
    background-color: #2c3035;
    padding: .5em;
    color: #dfdfdf;
}

input[type="submit"] {
    background-color: #333;
    color: #eee;
    display: block;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
}